<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact Ruby on Rails Tutorial about the sample app at the
<a href="http://railstutorial.org/contact">contact page</a>.
<<<<<<< HEAD
</p>
=======
</p>
>>>>>>> af76d9d8c2fd43a4490cab3841560ba786d8540e
