<div class="center hero-unit">
<<<<<<< HEAD
<h1>Welcome to the Sample App</h1>
=======
<h1>Sample App</h1>
>>>>>>> af76d9d8c2fd43a4490cab3841560ba786d8540e
<h2>
This is the home page for the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>